<strong>Olá, {{ provider }} </strong>
<p>Houve uma encomenda cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Encomenda: </strong> {{ order }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Data de cancelamento: </strong> {{ date }} <br />
</p>
